<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <script src="/js/jquery.js"></script>
      <script>
         $(document).ready(function() {
            alert('foo');
            $('table').addClass('table');
         });
      </script>
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">

               <header>
                  <h3>
                     csc<span class="text-muted"> / notes</span>
                     <small class="pull-right">
                        <a href="/notes"><i class="glyphicon glyphicon-home"></i></a>
                     </small>
                  </h3>
                  <hr/>
               </header>

               <%= content %>
            </div>
         </div>
      </div>
   </body>
</html>
